body {
  margin: 0;
  background-color: #020204;
  font-family: "Jost", "Inter", sans-serif;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  font-family: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
address {
  font-style: normal;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
}
header {
  position: sticky;
  top: 0;
  left: 0;
}
.header-container {
}
.lang {
}
.lang-wrap {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
.active {
  color: #c7a17a;
  margin-left: 10px;
}
.header-address {
}
.header-address-tel {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.header-wrap-menu {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  align-items: center;
  border-bottom: 1px solid #323230;
  border-top: 1px solid #323230;
}
.header-navigation {
}
.header-menu-navigation {
  display: flex;
  gap: 35px;
}
.header-btn {
  background-color: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
}
.header-btn:hover {
  color: #c7a17a;
}
.header-list {
}
.header-link {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  transition: 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.input-text {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.header-link:hover {
  color: #c7a17a;
}
.header-link-active {
  color: #c7a17a;
}
.header-menu {
  display: flex;
  gap: 30px;
}
.header-menu-list {
}

.header-img-link:hover {
  animation: rotate-scale-up 1500ms linear both;
}
@keyframes rotate-scale-up {
  0% {
    transform: scale(1) rotateZ(0);
  }
  50% {
    transform: scale(2) rotateZ(180deg);
  }
  100% {
    transform: scale(1) rotateZ(360deg);
  }
}
.header-img {
}

/** -------------------header------------------------- */
/** --------------------HERO-------------------------- */
.hero {
  background-image: url(../img/hero.jpg);
  background-repeat: no-repeat;
  min-width: 1200px;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-wrap {
}
.hero-title {
  font-weight: 900;
  font-size: 60px;
  line-height: 144%;
  text-transform: uppercase;
  color: #fff;
  width: 571px;
  margin-bottom: 35px;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  color: #dfdfdf;
  width: 535px;
  margin-bottom: 35px;
}
.hero-btn-buy {
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: #c7a17a;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin-right: 20px;
}
.hero-btn-read {
  width: 200px;
  height: 50px;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  background-color: rgba(199, 161, 122, 0);
  border: 1px solid #666681;
  border-radius: 10px;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.hero-btn-read:hover {
  background-color: #c7a17a;
}
.header-icons {
}
.header-icon-link {
  position: relative;
}
.header-menu-event {
  display: block;
  position: absolute;
  top: -9px;
  right: -2px;
  background-color: #c7a17a;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
/** -------------------Hero-------------------- */
/** -------------------roasted ----------------- */
.roasted {
  display: flex;
  margin-top: 100px;
}
.roasted-wrap {
  background-color: #14141d;
  border-radius: 10px;
  padding: 30px;
}
.roasted-img {
}
.roasted-title {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 15px;
  margin-top: 30px;
}
.roasted-text {
  font-weight: 400;
  font-size: 18px;
  color: #dfdfdf;
}
/** -------------------roasted ----------------- */
/** --------------------Catalog------------------ */
.catalog {
  margin-top: 80px;
  margin-bottom: 80px;
}
.catalog-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 144%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}
.catalog-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}
.catalog-list {
  background-color: #14141d;
  border-radius: 10px;
  width: calc((100% - 2 * 21px) / 3);
  padding: 20px;
  transition: all 0.3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}
.catalog-img {
  margin: 0 auto;
}
.catalog-title-text {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 42px;
  margin-bottom: 30px;
}
.catalog-text {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.catalog-text-max {
  font-weight: 400;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: line-through;
  color: #818181;
}
.catalog-price {
  display: flex;
  gap: 30px;
}
.catalog-icons-favorite {
  margin-left: auto;
}
.catalog-list:hover {
  background-color: #22222f;
}
/** --------------------news------------------ */
/** --------------------news------------------ */

.news {
  margin-bottom: 80px;
}
.news-title {
  font-weight: 900;
  font-size: 40px;
  line-height: 144%;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 40px;
}
.news-list {
  display: flex;
  gap: 21px;
}
.news-item-list {
  background-color: #14141d;
  border-radius: 10px;
}
.news-img {
}
.news-title-text {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}
.news-text {
  font-weight: 400;
  font-size: 16px;
  color: #dfdfdf;
  margin-top: 15px;
  margin-bottom: 40px;
}
.news-wrap-text {
  padding: 25px;
}

/** --------------------footer------------------ */
/** --------------------footer------------------ */
.footer {
  margin-bottom: 80px;
}
.container-footer {
  display: flex;
  gap: 200px;
  padding: 20px;
}
.footer-logo-link {
  display: flex;
  align-items: center;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
  color: #f8dabf;
}
.footer-logo {
}
.footer-navigation {
}
.footer-navigation-menu {
}
.footer-navigation-list {
  margin-bottom: 20px;
}
.footer-navigation-list-link {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease;
}
.footer-contacts {
}
.footer-contacts-menu {
}
.footer-contacts-list {
  margin-bottom: 20px;
}
.footer-contacts-list-link {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease;
}
.footer-navigation-list-link:hover {
  color: #c7a17a;
}
.footer-contacts-list-link:hover {
  color: #c7a17a;
}
